---
import { DataContainer } from "../../molecules/DataContainer";
import TextContainer from "../../molecules/TextContainer/TextContainer.astro";
import { SectionContainer } from "../SectionContainer";
import "./style.scss";
import type { TextAndStatisticsProps } from "./types";

type Props = TextAndStatisticsProps;

const { title, paragraph, labelButton, dataStatistics } = Astro.props;
---

<SectionContainer className="primary-bg-a10">
  <div class="row align-items-top justify-content-between">
    <div class="col-lg-6 col-12">
      <TextContainer
        title={title}
        paragraph={paragraph}
        labelButton={labelButton}
        variant="dark"
      />
    </div>
    <div class="col-lg-5 col-12">
      <div class="data-container">
        {dataStatistics.map((data) => <DataContainer {...data} />)}
      </div>
    </div>
  </div>
</SectionContainer>
