---
import { SplitContent } from "../../layout/SplitContent";
import { Accordion } from "../../molecules/Accordion";
import type { AccordionProps } from "../../molecules/Accordion/types";
import TextContainer from "../../molecules/TextContainer/TextContainer.astro";

type Props = {
  title: string;
  paragraph: string;
  labelAccordion: string;
  accordion: AccordionProps;
};
const { title, paragraph, labelAccordion, accordion } = Astro.props;
---

<SplitContent leftColumns={5} rightColumns={5} alignItems="top">
  <TextContainer slot="left" title={title} paragraph={paragraph} />
  <div slot="right">
    <p class="fw-semibold fs-6 text-uppercase">{labelAccordion}</p>
    <Accordion {...accordion} variant="background-active" />
  </div>
</SplitContent>
