---
import { UseCaseCard } from "../../molecules/UseCaseCard";
import type { UseCaseCardProps } from "../../molecules/UseCaseCard/types";
import { SectionContainer } from "../SectionContainer";

type Props = {
  useCases: UseCaseCardProps[];
};

const { useCases } = Astro.props;
---

<SectionContainer>
  {
    useCases.map((item) => (
      <div class="row pt  -5">
        <div class="col-12 mb-3 mb-md-4">
          <UseCaseCard {...item} variant="big" />
        </div>
      </div>
    ))
  }
</SectionContainer>
