---
import { CardEditorialNews } from "@components/molecules/CardEditorialNews";
import { TextContainer } from "@components/molecules/TextContainer";
import { SectionContainer } from "@components/organisms/SectionContainer";
import type { ListCollectionProps } from "./types";

type Props = ListCollectionProps;

const { title, paragraph, items } = Astro.props;
---

<SectionContainer className="lightgrey-bg-a3">
  <div class="row justify-content-between align-items-top">
    <div class="col-lg-6 col-12">
      <TextContainer title={title} paragraph={paragraph} />
    </div>

    <div class="it-card-group it-card-group-3-cols">
      {items.map((item) => <CardEditorialNews {...item} fullHeight={false} />)}
    </div>
  </div>
</SectionContainer>
