---
import ItExternalLink from "@static/assets/ItExternalLink.astro";
import type { CardInfoAndServiceProps } from "./types";

type Props = CardInfoAndServiceProps;

const { title, description, linkTo } = Astro.props;

const isExternal = linkTo?.startsWith("http");
const TitleTag = linkTo ? "a" : "span";
---

<article class="it-card rounded shadow-sm border">
  <h3 class="it-card-title it-card-title-icon">
    <TitleTag
      href={linkTo}
      target={TitleTag === "a" && isExternal ? "_blank" : undefined}
      rel={TitleTag === "a" && isExternal ? "noopener noreferrer" : undefined}
    >
      {title}
      {
        linkTo && (
          <div class="it-card-title-icon-wrapper">
            <ItExternalLink color="primary" />
          </div>
        )
      }
    </TitleTag>
  </h3>
  <div class="it-card-body">
    <p class="it-card-text">
      {description}
    </p>
  </div>
</article>
