---
import { UseCaseCard } from "../UseCaseCard";
import type { UseCaseCardProps } from "../UseCaseCard/types";

type Props = {
  label?: string;
  items: UseCaseCardProps[];
};

const { items, label } = Astro.props;
---

<style>
  @import "./style.scss";
</style>

{label && <p class="fw-semibold fs-6 text-uppercase">{label}</p>}
<div class="usecase-container">
  {items.map((useCase) => <UseCaseCard {...useCase} />)}
</div>
