---
import { Accordion } from "../../molecules/Accordion";
import type { AccordionProps } from "../../molecules/Accordion/types";
import { SectionContainer } from "../SectionContainer";

type Props = {
  title: string;
  accordion: AccordionProps;
};
const { title, accordion } = Astro.props;
---

<SectionContainer>
  <div class="row align-items-top">
    <div class="col-12">
      <h2 class="pb-5">
        {title}
      </h2>
      <Accordion {...accordion} fullWidth={false} />
    </div>
  </div>
</SectionContainer>
