---
import type { HeroProps } from "./types";
import { Image } from "@components/atoms/Image";

type Props = HeroProps;

const {
  title,
  paragraph,
  image,
  size,
  category,
  showBreadcrumb = false,
} = Astro.props;
const sizeClass =
  size === "xsmall"
    ? "xsmall-size"
    : size === "small"
      ? "small-size"
      : "default-size";
---

<style>
  @import "./style.scss";
</style>

<section class=`it-hero-wrapper it-primary ${sizeClass}`>
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper">
        <Image {...image} />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper">
          {category && <span class="it-category">{category}</span>}
          {showBreadcrumb && <slot name="breadcrumb" />}
          <h1>{title}</h1>
          <div class="d-none d-lg-block font-sans-serif" set:html={paragraph} />
        </div>
      </div>
    </div>
  </div>
</section>
