---
import type { SectionBackground } from "@components/layout/SplitContent/SplitContent.astro";
import type { HeroProps } from "./types";
import { Image } from "@components/atoms/Image";
type Props = HeroProps;

const {
  title,
  paragraph,
  image,
  showBreadcrumb,
  backgroundColor = "default",
} = Astro.props;

const backgroundColorClassNames: Record<SectionBackground, string> = {
  default: "",
  primary: "bg-primary",
  dark: "primary-bg-a10",
  lighter: "lightgrey-bg-a3 dark",
};
---

<style>
  @import "./style.scss";
</style>
<section
  class=`it-hero-wrapper it-hero-wrapper-full-height-image xsmall-size ${backgroundColorClassNames[backgroundColor]}`
>
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper">
        <Image {...image} />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="it-hero-text-wrapper">
          {showBreadcrumb && <slot name="breadcrumb" />}
          <h1>{title}</h1>
          {
            paragraph && (
              <p class="d-none d-lg-block font-sans-serif">{paragraph}</p>
            )
          }
        </div>
      </div>
    </div>
  </div>
</section>
