---
import type { HeroProps } from "./types";
import { Image } from "@components/atoms/Image";
type Props = HeroProps;

const { title, paragraph, image, size, category } = Astro.props;
const sizeClass =
  size === "xsmall"
    ? "xsmall-size"
    : size === "small"
      ? "small-size"
      : "default-size";
---

<style>
  @import "./style.scss";
</style>
<section class=`it-hero-wrapper it-primary bg-primary-dark ${sizeClass}`>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-8">
        <div class="it-hero-text-wrapper">
          {category && <span class="it-category">{category}</span>}
          <slot name="category" />
          <h1>{title}</h1>
          <div class="d-none d-lg-block font-sans-serif" set:html={paragraph} />
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="img-container">
          <div class="ratio ratio-4x3">
            <Image {...image} />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
