---
import { CardEditorialNews } from "../../molecules/CardEditorialNews";
import type { CardEditorialNewsProps } from "../../molecules/CardEditorialNews/types";
import { Tabs } from "../../molecules/Tabs";
import type { TabItemProps } from "../../molecules/Tabs/types";
import TextContainer from "../../molecules/TextContainer/TextContainer.astro";
import { SectionContainer } from "../SectionContainer";

type Props = {
  title: string;
  paragraph: string;
  tabs?: TabItemProps[];
  news: CardEditorialNewsProps[];
};
const { title, paragraph, tabs, news } = Astro.props;
---

<SectionContainer className="bg-primary">
  <div class="row align-items-top justify-content-between">
    <div class="col-lg-5 col-12">
      <TextContainer title={title} paragraph={paragraph} variant="primary" />
    </div>
  </div>
  {
    tabs && (
      <div class="row pt-5">
        <Tabs items={tabs} />
      </div>
    )
  }
  <div class="row pt-5">
    {
      news.map((item) => (
        <div class="col-12 col-md-6 mb-3 mb-md-4 col-lg-4">
          <CardEditorialNews {...item} />
        </div>
      ))
    }
  </div>
</SectionContainer>
