---
import type { FooterLogoProps } from "./types";

type Props = FooterLogoProps;

const { icon, label, linkTo, ariaLabel = "" } = Astro.props;
---

<a
  href={linkTo}
  class="list-item left-icon"
  aria-label={ariaLabel}
  target="_blank"
  rel="noreferrer"
  ><svg
    role="img"
    class="icon icon-sm align-middle icon-white me-2 mb-1"
    aria-hidden="true"><use href=`/bsi-svg/sprites.svg#${icon}`></use></svg
  ><span>{label}</span>
</a>
