---
import { Link } from "@components/atoms/Link";
import type { LinkProps } from "@components/atoms/Link/types";

type Props = {
  links: LinkProps[];
};

const { links } = Astro.props;
---

{
  links.map((link) => (
    <div class="mt-4">
      <Link {...link} />
    </div>
  ))
}
