---
import { Blockquote } from "@components/atoms/Blockquote";
import type { BlockquoteProps } from "@components/atoms/Blockquote/types";

type Props = { cards: BlockquoteProps[] };

const { cards } = Astro.props;

if (!cards || cards.length === 0) {
  return null;
}
---

<div class="row align-item-center justify-content-between pt-4">
  {
    cards.map((card) => (
      <div class="col-12 col-md-6 mb-3 mb-md-4">
        <Blockquote {...card} />
      </div>
    ))
  }
</div>
