---
import { getEntry } from "astro:content";

const response = await getEntry("locales", "site-locales");

const locales = response?.data.locales;
if (!locales) throw new Error("Locales not found");
---

<html lang="en">
  <head>
    <meta http-equiv="refresh" content={`0; url=/${locales[0]}/`} />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to /{locales[0]}...</p>
  </body>
</html>
