---
import { ButtonLink } from "@components/atoms/Button";
import { Image } from "@components/atoms/Image";
import { SplitContent } from "@components/layout/SplitContent";
import { ErrorPageQuery } from "@graphql/query/errorPage";
import { LocalesQuery } from "@graphql/query/settings";
import Layout from "@layouts/Layout.astro";
import { executeQuery } from "@lib/datocms";
import { linkResolver } from "@utils/linkResolver";

export async function getStaticPaths() {
  const {
    site: { locales },
  } = await executeQuery(LocalesQuery);
  const paths = await Promise.all(
    locales.map(async (lang) => {
      const { globalSetting, homepage } = await executeQuery(ErrorPageQuery, {
        variables: { locale: lang },
      });

      return {
        params: { lang },
        props: { globalSetting, homepage },
      };
    }),
  );

  return paths;
}

const { lang } = Astro.params;
const { globalSetting, homepage } = Astro.props;

if (!globalSetting) return;
---

<Layout>
  <SplitContent leftColumns={6} rightColumns={5}>
    <div slot="left" class=`text-container mb-4 mb-lg-0`>
      <h1 class="mb-3">{globalSetting.title}</h1>
      <div class="mb-4" set:html={globalSetting.paragraph} />
      <div class="mt-5">
        <ButtonLink
          size="small"
          label={globalSetting.labelCta}
          linkTo={linkResolver(homepage?.id, lang)}
        />
      </div>
    </div>
    <div class="ratio ratio-4x3" slot="right">
      <Image {...globalSetting.image} />
    </div>
  </SplitContent>
</Layout>
