---
import { ListLink } from "@components/molecules/ListLink";
import type { QuickLinkCardProps } from "./types";

type Props = QuickLinkCardProps;

const { title, links } = Astro.props;
---

<div class="it-section-bg-primary rounded-2 py-4 px-5 text-white">
  <h3>{title}</h3>
  <ListLink items={links} variant="dark" />
</div>
