---
import { DataContainer } from "@components/molecules/DataContainer";
import type {
  DataContainerProps,
  VariantTextDataContainerProps,
} from "@components/molecules/DataContainer/types";

type Props = {
  items: DataContainerProps[];
  variant?: VariantTextDataContainerProps;
};

const { items, variant = "light" } = Astro.props;
---

<style>
  @import "./style.scss";
</style>

<ul class="statistics-container" role="list">
  {
    items.map((item) => (
      <li class="statistics-item">
        <DataContainer {...item} variant={variant} />
      </li>
    ))
  }
</ul>
