---
import { DataContainer } from "@components/molecules/DataContainer";
import type {
  DataContainerProps,
  VariantTextDataContainerProps,
} from "@components/molecules/DataContainer/types";

type Props = {
  items: DataContainerProps[];
  variant?: VariantTextDataContainerProps;
};

const { items, variant = "light" } = Astro.props;
---

<style>
  @import "./style.scss";
</style>

<div class="statistics-container">
  {items.map((item) => <DataContainer {...item} variant={variant} />)}
</div>
