---
import OrderedListItem from "./OrderedListItem.astro";
import type { ListProps } from "./types";

type Props = ListProps;
const { variant = "default", items } = Astro.props;
---

<div class="it-list-wrapper">
  <ol class="it-list">
    {
      items.map((item, index) => (
        <OrderedListItem
          index={(index + 1).toString()}
          {...item}
          variant={variant}
        />
      ))
    }
  </ol>
</div>
