---
import "../styles/global.scss";
import bsi from "bootstrap-italia/dist/js/bootstrap-italia.bundle.min.js?url";
import { Seo, type TitleMetaLinkTag } from "@datocms/astro";
import { HeaderQuery, SiteMetaTagsQuery } from "@utils/query";
import { executeQuery } from "@lib/datocms";
import { isDraftModeEnabled } from "@lib/draftMode";
import PreviewBar from "@components/PreviewBar.astro";
import { Footer } from "@components/organisms/Footer";
import type { HeaderFragmentType } from "@graphql/sectionFragments";
import type { SiteLocale } from "@graphql/types";
import HeaderAdapter from "@components/cms-adapters/datocms/HeaderAdapter.astro";

type Props = {
  locale: string;
  pageSeo?: TitleMetaLinkTag[];
  redirectUrl?: string;
};

const { locale, pageSeo = [], redirectUrl } = Astro.props;
const currentUrl = Astro.url.pathname;

const result = await executeQuery(SiteMetaTagsQuery);

const header = await executeQuery(HeaderQuery, {
  variables: { locale: locale as SiteLocale },
});

const headerLayout = header.layout as HeaderFragmentType;

const isShowingPreviewBar = isDraftModeEnabled(Astro.cookies) && redirectUrl;
---

<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <Seo data={[...result.site.faviconMetaTags, ...pageSeo]} />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {isShowingPreviewBar && <PreviewBar redirectUrl={redirectUrl} />}
    <HeaderAdapter
      {...headerLayout}
      currentUrl={currentUrl}
      currentLocale={locale as SiteLocale}
    />
    <main>
      <slot />
    </main>
    <Footer
      brand={{
        title: "Nome dipartimento",
        description: "è un progetto di",
        logos: [
          {
            icon: "it-team-digitale",
            label: "Dipertimento di trasformazione digitale",
            linkTo: "#",
          },
          {
            icon: "it-team-digitale",
            label: "Dipertimento di trasformazione digitale",
            linkTo: "#",
          },
        ],
      }}
      topics={{
        title: "Parliamo di",
        items: [
          {
            label: "Sviluppo interfaccia",
            visuallyHidden: "link",
            linkTo: "#",
          },
          {
            label: "Sviluppo interfaccia",
            visuallyHidden: "link",
            linkTo: "#",
          },
        ],
      }}
      utilities={[
        {
          title: "Community",
          items: [
            {
              label: "Forum italia",
              ariaLabel: "link",
              icon: "it-designers-italia",
              linkTo: "#",
            },
            {
              label: "Slack",
              ariaLabel: "link",
              icon: "it-slack",
              linkTo: "#",
            },
            {
              label: "Github",
              ariaLabel: "link",
              icon: "it-github",
              linkTo: "#",
            },
          ],
        },
      ]}
      smallPrints={{
        labelVisualHidden: "Sezione link utili",
        links: [
          { label: "Media Policy", linkTo: "#" },
          { label: "Note legali", linkTo: "#" },
        ],
      }}
    />
  </body>
</html>
<script src={bsi}></script>
