---
import { Icon } from "@components/atoms/Icon";
import type { ListWithIconProps } from "./types";

type Props = ListWithIconProps;
const { title, items } = Astro.props;
---

{title && <p class="it-label">{title}</p>}

<div class="it-list-wrapper">
  <ul class="it-list">
    {
      items?.map((item) => (
        <li class="py-3 px-2 mb-3">
          <div class={`list-item border-0`}>
            <Icon icon={item.icon} className="me-3" />
            <div class={`col-10 h6 fw-normal m-0`}>{item.label}</div>
          </div>
        </li>
      ))
    }
  </ul>
</div>
