---
import BreadcrumbItem from "./BreadcrumbItem.astro";
import type { BreadcrumbProps } from "./types";

type Props = BreadcrumbProps;
const { ariaLabel, items, variant = "light" } = Astro.props;
---

<nav class="breadcrumb-container mb-4" aria-label={ariaLabel}>
  <ol class=`breadcrumb ${variant==="dark" ? "dark": ""} bg-transparent mb-0`>
    {items.map((item) => <BreadcrumbItem {...item} variant={variant} />)}
  </ol>
</nav>
