---
import BreadcrumbItem from "./BreadcrumbItem.astro";
import type { BreadcrumbItemProps } from "./types";

type Props = {
  ariaLabel: string;
  items: BreadcrumbItemProps[];
};
const { ariaLabel, items } = Astro.props;
---

<nav class="breadcrumb-container mb-4" aria-label={ariaLabel}>
  <ol class="breadcrumb dark bg-transparent mb-0">
    {items.map((item) => <BreadcrumbItem {...item} />)}
  </ol>
</nav>
